<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="services.Properties.Settings.rtk_testConnectionString"
            connectionString="server=localhost;user id=root;database=rtk_test"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>